.fc-event {
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 4px;
}
#calendar {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.fc .fc-col-header-cell {
    background-color: #323639 !important;
    padding: 5px 0 !important;
    border-color: #212529 !important;
}

.fc .fc-col-header-cell-cushion {
    color: #ffffff !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    font-size: 0.85rem !important;
}

.fc .fc-day-sat .fc-col-header-cell-cushion,
.fc .fc-day-sun .fc-col-header-cell-cushion {
    color: #ffffff !important;
}
.fc-statusLegend-button,
.fc-statusLegend-button:hover,
.fc-statusLegend-button:focus {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    cursor: default !important;
}